<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ironscheme.clr" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="ironscheme.clr.helpers" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="ironscheme.contracts" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="ironscheme.contracts-helper" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="IronScheme.Core" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="ironscheme.random" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="IronScheme.Remoting" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="IronScheme.REPL" version="0.9.113668" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
</packages>